<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="description" content="A simple markdown enhanced notes application 💫" />
    <link rel="icon" type="image/png" href="/images/notebook-icon-120.png" />
    <link rel="manifest" href="/manifest.json" />
    <link rel="apple-touch-icon" href="images/notebook-icon-152.png" />
    <meta name="theme-color" content="white" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="apple-mobile-web-app-title" content="Notebook" />
    <meta name="msapplication-TileImage" content="images/notebook-icon-144.png" />
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" />
    <link rel="stylesheet" href="style.css" />
    <title>Notebook</title>
  </head>
  <body>
    <noscript>
      <div class="empty">
        <h1>💫 Sorry, you must enable Javascript on you navigator 🌟</h1>
      </div>
    </noscript>
    <div id="app">
      <template v-if="note">
        <header>
          <div class="search">
            <input v-model="searchText" placeholder="Rechercher" name="Rechercher" />
          </div>
        </header>
        <main>
          <div class="list">
            <ul>
              <li v-bind:class="{'selected-note' : selectedId === note.id}" v-for="note in filteredList" v-on:click="select(note.id)">
                <strong>{{ note.title }}</strong>
              </li>
            </ul>
          </div>
          <div class="tools">
            <button class="btn-icon" v-on:click="add" aria-label="Add a note">
              ➕
            </button>
            <button class="btn-icon" v-on:click="deleteItem" aria-label="Delete selected note">
              🗑️
            </button>
            <button class="btn-icon" v-if="!isEditing" v-on:click="toggleEditor" aria-label="Edit selected note">
              🖊️
            </button>
            <button class="btn-icon" v-if="isEditing" v-on:click="toggleEditor" aria-label="Confirm modifications">
              ✔️
            </button>
          </div>
          <div class="text">
            <div class="saisie" v-if="isEditing">
              <input type="text" v-model="note.title" />
              <textarea v-model="note.content"></textarea>
            </div>
            <div class="preview" v-bind:class="{'full-width' : isEditing === false}">
              <div v-html="formatContent"></div>
            </div>
          </div>
        </main>
      </template>
      <template v-if="!note">
        <div class="empty">
          <div>
            <h1>Hello ! 👋</h1>
            <button v-on:click="add">Add note</button>
          </div>
        </div>
      </template>
    </div>

    <script src="https://vuejs.org/js/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script src="main.js"></script>
  </body>
</html>
